[submodule "resources/fonts/hoard-of-bitfonts"]
	path = resources/fonts/hoard-of-bitfonts
	url = https://github.com/0xBAMA/hoard-of-bitfonts.git
[submodule "resources/tracy"]
	path = resources/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "resources/ModelLoading/assimp"]
	path = resources/ModelLoading/assimp
	url = https://github.com/assimp/assimp.git
[submodule "resources/noise/FastNoise2"]
	path = resources/noise/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
